
<link rel="stylesheet" href="../js/jquery-ui-1.13.2/jquery-ui.css">
<link rel="stylesheet" href="../js/jquery-ui-1.13.2/jquery-ui.structure.css">
<link rel="stylesheet" href="../js/jquery-ui-1.13.2/jquery-ui.theme.css">

 <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
 <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>

<script>
    $( function() {
      $( "#accordion" ).accordion({
        collapsible: true
      });
    } );
    </script>

<section id="Accordiontr" class="Accordiontr">
    <div id="accordion">
    <h3>Yük Dengeleme</h3>
    <div>
        <ul>
            <li>Ağ Yükü Dengeleme (4. Katman)</li>
            <ul style="position: relative;
      left: 15px !important;">
                <li> TCP &amp; UDP Bağlantı Noktası Aktarımı</li>
                <li> Doğrudan DNS Yük Dengelemesi</li>
                <li> Servis Yönlendirmesi</li>
                <li> Tam Şeffaflık (İstemci IP › arka uç sunucuları)</li>
            </ul>
            <li>Uygulama Katmanında Yük Dengeleme (7. Katman)</li>
            <li>IPv4 ve IPv6 desteği</li>
            <li>SNI-SSL tabanlı sanal ana bilgisayar desteği</li>
            <li>Web Hizmetleri ve Web Soketleri için yerel destek sağlanması (API aracılığı ile
                yapılandırma yönetimi)</li>
            <li>İçerik tabanlı akıllı sorgu yönlendirmesi (İçerik değiştirme)</li>
            <li>Çerezleri kullanarak oturum sürekliliği ve bakım yönetimi</li>
            <li>PHPSESSID, JSESSIONID, ASP.NET SessionID ve diğer uygulama çerezlerini
                öğrenebilme</li>
            <li>Network trafiğini denetleme ve düzenleme</li>
            <li>Oturum durumunu tüm paralel TR7 ürünleri arasında eşlenik duruma getirme</li>
            <li>Geniş bir yelpazede yük dengeleme algoritması seçimi yapabilme (round-robin,
                leastconnection, hash…)</li>
            <li>Sorunsuz bir şekilde sunucuları başlatma ve kapatma</li>
            <li>Proxyler için optimize edilmiş karma algoritmalar kullanma</li>
            <li>Ters proxy, NAT, Doğrudan Sunucu Dönüştürücü ve VIP'siz modları destekleme</li>
            <li>Global Yük Dengeleme (Farklı veri merkezlerinde bulunan sunucular arasında yük
                dengeleme)</li>
            <li>Microsoft ürünleri için yük dengeleme hizmeti</li>
            <ul style="position: relative;
      left: 15px !important;">
                <li> Exchange, SharePoint, Lync, v.b.</li>
      
            </ul>
      </ul>
    </div>



    <h3>Section 2</h3>
    <div>
      <p>Sed non urna. Donec et ante. Phasellus eu ligula. Vestibulum sit amet purus. Vivamus hendrerit, dolor at aliquet laoreet, mauris turpis porttitor velit, faucibus interdum tellus libero ac justo. Vivamus non quam. In suscipit faucibus urna. </p>
    </div>



    <h3>Section 3</h3>
    <div>
      <p>Nam enim risus, molestie et, porta ac, aliquam ac, risus. Quisque lobortis. Phasellus pellentesque purus in massa. Aenean in pede. Phasellus ac libero ac tellus pellentesque semper. Sed ac felis. Sed commodo, magna quis lacinia ornare, quam ante aliquam nisi, eu iaculis leo purus venenatis dui. </p>
      <ul>
        <li>List item one</li>
        <li>List item two</li>
        <li>List item three</li>
      </ul>
    </div>
    <h3>Section 4</h3>
    <div>
      <p>Cras dictum. Pellentesque habitant morbi tristique senectus et netus et malesuada fames ac turpis egestas. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Aenean lacinia mauris vel est. </p><p>Suspendisse eu nisl. Nullam ut libero. Integer dignissim consequat lectus. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. </p>
    </div>
  </div>
   
   
<script src = "../js/jquery-ui-1.13.2/jquery-ui.js" type="text/javascipt"></script>
</section>