<section id="content1" class="content1">
   


    <div class="container clearfix">

        <div class="section1" style="padding: unset !important; margin: 0px 0px 60px 0px !important">
            <div class="container">

                <div class="center">
                    <h2>işletmelere Özel Hizmetlerimiz</h2>

                </div>
                <div class="divider divider-rounded divider-center"><i class="icon-hand-point-down1"></i>
                </div>

                <div class="row col-mb-50 center hidepc" style="padding-left: 0%;">
                    <div class="col-2" style="margin-right: 20%;">
                        <a href="https://www.tr7.com/kucukisletme.html" class="btn btn-primary">
                            <div data-animate="tada" class="tada animated">Küçük Ölçekli işletmeler</div>
                        </a>
                    </div>
                    <div class="col-2"style="margin-right: 20%;">
                        <a href="https://www.tr7.com/buyukisletme.html" class="button button-desc button-border button-rounded center">
                            <div data-animate="tada" class="tada animated">Büyük Ölçekli işletmeler</div>
                        </a>
                    </div>
                    
                    <div class="col-2" style="margin-right: 10%;">
                        <a href="https://www.tr7.com/kucukisletme.html" class="button button-desc button-border button-rounded center">
                            <div data-animate="tada" class="tada animated">Data Center</div>
                        </a>
                    </div>


                


                </div>

                



            </div>
        </div>

   
</section>
	
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    
    



	

