
<section id="documents" class="documents">

        <style>
         li {
               
               margin: 0;
               padding: 0;
               
               display: block;
           }
           .blockCss{
            display: flex;
           }
           .divCss {
               position: sticky; 
               text-align: left;
               line-height: 1.5;
               color: #555;
               font-family: 'Open Sans', sans-serif;
               font-size: 18px;
               font-weight: 400;
               width:600;
               padding: 30px 200px ;
               margin: 10px;
               
           }
           </style>
    <div class="blockcss">
           <div class="divCss">
        <div class="col-lg-10 col-lg-offset-1">
            <div class="container clearfix">
                <div class="promo promo-light p-4 p-md-5 mb-5">
                    <div class="row align-items-center">
                        <div class="col-12 col-lg">
                            <ul>
                            <li><a href="https://files.tr7.com/index.php/s/Ag968pDXytzCEGS" target="_blank">TR7 Datasheet</a> </li>
                            <li><a href="https://files.tr7.com/index.php/s/EEbnNyNL6McPzYS" target="_blank">TR7 1071 Series</a> (*)</li>
                            <li><a href="https://files.tr7.com/index.php/s/YwSZakzctMLHpDj" target="_blank">TR7 10071 Series</a> (*)</li>
                            <li><a href="https://files.tr7.com/index.php/s/Mwo9z6kBYTPWDte" target="_blank">TR7 20023 Series</a> (*)</li>
                            <li><a href="https://files.tr7.com/index.php/s/CpS4GK9KS32rFHE" target="_blank">TR7 41915 Series</a> (*)</li>
                            <li><a href="https://files.tr7.com/index.php/s/LPyjJHD73qWbHmN" target="_blank">TR7 1453 Series</a> (*)</li>
                            <li><a href="https://files.tr7.com/index.php/s/mptfCbafKc3GnGw" target="_blank">TR7 Virtual Platform v7000 Series</a> (**)</li>
                            <li><a href="https://files.tr7.com/index.php/s/mQHeRi3ae2prPyo" target="_blank">TR7 midRange Platform </a></li>
                            <li><a href="https://files.tr7.com/index.php/s/4TgHWyTiQ45RMFa" target="_blank">TR7 Admin Guide</a></li>
                            <li><a href="https://files.tr7.com/index.php/s/NKjiXjiNYnG6W8L" target="_blank">TR7 Best Practice Guide</a></li>
                            </ul>
                        </div>
                    </div>
                    <br><i>
                (*): Donanım ürünleri için en son güncel ve kararlı TR7 yazılım versiyon numarası <b>v1.6.29.219</b>'dur<br> 
                (**): Sanal Platform ürünleri için en son güncel ve kararlı TR7 yazılım versiyon numarası <b>v1.0.29.219</b>'dur<br> 
                    </i>
                </div>
    
            </div>
        </div>
    </div>


</section>

