<style>

    img {
        max-width: 100%;
        vertical-align: middle;
        border-style: none;
        overflow-clip-margin: content-box;
        overflow: clip;
      
    
    }

    
    
    
    .emphasis-title h1, .emphasis-title h2 {
        font-size: 64px;
        letter-spacing: -2px;
        font-weight: 400;
        letter-spacing: 0;
        text-transform: none;
    }
    
    .textClass {
        
        display: block;
        margin-block-start: 1em;
        margin-block-end: 1em;
        margin-inline-start: 0px;
        margin-inline-end: 0px;
        color:white;
        
    
    font-family :"Open Sans", sans-serif;
    font-size: 16px;
    
    line-height:24px;
    
    letter-spacing:normal;
    word-spacing:0px;
    
    font-weight:400;
    font-style:normal;
    font-variant:normal;
    text-transform:none;
    text-decoration:none solid rgb(85, 85, 85);
    
    text-indent:0px;
    
    }
    
    
     
</style>


<section id="indexeu" class="indexeu">
<div class="content-wrapper">
<div class="">

    
    
    <section>
    
      <div class="bgimage" style="padding: 90px 0px; background-image: url(bg1.jpg); background-size: 100%; background-position: 0px -12.3732-px;" data-bottom-top="background-position:0% 300%;" data-top-bottom="background-position:0px -300px;">
        <div class="container center clearfix">
            <div class="emphasis-title">

            
            
            <h2><img src="20023.png"></h2>
            <br>
            <h2><img src="10071.png" alt=""></h2>
            <br>
            <h2><img src="1071.png" alt=""></h2>
            <br>
            <div class="textClass">
            <p class="lead topmargin-sm">TR7 Load Balancing and Application Security products are designed to solve general IT needs effectively and affordably. By offering leading solutions in the field, it brings customer support and satisfaction to the highest level.</p>
            </div>
            </div>
    
        </div>
    </div>
     <script type="text/javascript">
        var bgpattern = document.getElementById("bgimage")
        window.addEventListener("scroll",function(){
            bgpattern.style.backgroundPosition = window.pageXOffset+"px"
        })

     </script>

</section>


