<section id="indexeu2" class="indexeu2">
    
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <style>
                  
    #content .container {
    position: relative;
}
.container {
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}
*, *::before, *::after {
    box-sizing: border-box;
}
div {
    display: block;
}
.button.button-full {
    display: block;
    width: 100%;
    white-space: normal;
    margin: 0;
    height: auto;
    line-height: 1.6;
    padding: 30px 0;
    font-size: 30px;
    font-weight: 500;
    text-transform: none;
    border-radius: 50px;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 10%);
}
.button:hover {
    background-color: #444;
    color: #FFF;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
}
a:hover {
    color: #0056b3;
    text-decoration: underline;
}
a {
    text-decoration: none !important;

}
body {
  margin: 0;
    font-family: 'Open Sans', sans-serif;
}
.button {
    display: inline-block;
    position: relative;
    cursor: pointer;
    outline: none;
    white-space: nowrap;
    margin: 5px;
    padding: 8px 22px;
    font-size: 0.875rem;
    line-height: 24px;
    background-color: #4D76B8;
    color: #FFF;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: 1px;
    border: none;
    text-shadow: 1px 1px 1px rgb(0 0 0 / 20%);
}
.center {
    text-align: center !important;
}
  
            </style>
         
      <a href="https://www.tr7.com/iletisim.html" class="button button-full center text-right topmargin footer-stick">
        <div class="container clearfix">
            For more information please  <strong>Contact us.</strong> <i class="icon-caret-right" style="top:4px;"></i>
        </div>
      </a>
    </div>
        </div>
    </div>
</div>
    
</section>
<!-- End About Section -->
