
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<section id="newCollapsetr" class="newCollapsetr">

<style>

.all{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.accordion{

    max-width: 80% !important;
    padding-left: 10%;
    margin: 50px;

}    
</style>


<div class="all">
<div class="accordion" id="accordionPanelsStayOpenExample">
<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
    Yük Dengeleme

  </button>
</h2>
<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse ">
  <div class="accordion-body" style="text-align: left;">
    <ul>
      <li>Ağ Yükü Dengeleme (4. Katman)</li>
      <ul style="position: relative;
left: 15px !important;">
          <li> TCP &amp; UDP Bağlantı Noktası Aktarımı</li>
          <li> Doğrudan DNS Yük Dengelemesi</li>
          <li> Servis Yönlendirmesi</li>
          <li> Tam Şeffaflık (İstemci IP › arka uç sunucuları)</li>
      </ul>
      <li>Uygulama Katmanında Yük Dengeleme (7. Katman)</li>
      <li>IPv4 ve IPv6 desteği</li>
      <li>SNI-SSL tabanlı sanal ana bilgisayar desteği</li>
      <li>Web Hizmetleri ve Web Soketleri için yerel destek sağlanması (API aracılığı ile
          yapılandırma yönetimi)</li>
      <li>İçerik tabanlı akıllı sorgu yönlendirmesi (İçerik değiştirme)</li>
      <li>Çerezleri kullanarak oturum sürekliliği ve bakım yönetimi</li>
      <li>PHPSESSID, JSESSIONID, ASP.NET SessionID ve diğer uygulama çerezlerini
          öğrenebilme</li>
      <li>Network trafiğini denetleme ve düzenleme</li>
      <li>Oturum durumunu tüm paralel TR7 ürünleri arasında eşlenik duruma getirme</li>
      <li>Geniş bir yelpazede yük dengeleme algoritması seçimi yapabilme (round-robin,
          leastconnection, hash…)</li>
      <li>Sorunsuz bir şekilde sunucuları başlatma ve kapatma</li>
      <li>Proxyler için optimize edilmiş karma algoritmalar kullanma</li>
      <li>Ters proxy, NAT, Doğrudan Sunucu Dönüştürücü ve VIP'siz modları destekleme</li>
      <li>Global Yük Dengeleme (Farklı veri merkezlerinde bulunan sunucular arasında yük
          dengeleme)</li>
      <li>Microsoft ürünleri için yük dengeleme hizmeti</li>
      <ul style="position: relative;
left: 15px !important;">
          <li> Exchange, SharePoint, Lync, v.b.</li>

      </ul>
</ul>
  </div>
</div>
</div>
<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
    Güçlü WEB Hızlandırıcı
  </button>
</h2>
<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
      <li>Web sunucuların yükünü azaltmak ve sayfa yükleme sürelerini kısaltmak için
          yüksek hızlı önbellek sistemi</li>
      <li>Nesne Öbellekleme</li>
      <li>Tüm resimleri, JavaScript, stil sayfalarını ve olabilecek tüm statik sayfa
          içeriklerini destekleme</li>
      <li>Koşul, kural oluşturma gibi basit programlama yetenekleri ile cihaz yönetimi
          sağlama</li>
      <li>Son kullanma sürelerini, içerik ayarlarını, trafik sıkıştırma işlemlerini akıllı
          bir şekilde ayarlama</li>
      <li>
          İçerik Oluşturma</li>
      <ul style="position: relative;
left: 15px !important;">
          <li> Belgeye bir başlık öğesi ekleme</li>
          <li> Birden fazla CSS öğesini bir araya getirme</li>
          <li> Birden çok komut dosyası öğesini birleştirme</li>
          <li> Http-equiv özniteliğine sahip her Meta etiketi için bir yanıt başlığı
              ekleme</li>
          <li> Büyük boyutlardaki JPEG dosyalarını farklı formatlara dönüştürme</li>
          <li> URL'leri imzalayarak CSS, JS ve optimize edilmemiş formattaki resimlerin
              önbellekleme sürelerini uzatma</li>
          <li> Ayrıştırılamayan ve küçültülemeyen bir CSS dosyasında başvurulan kaynakları
              yeniden yazabilme</li>
          <li> Tüm içe aktarma kurallarını dahil ederek CSS kodlarını sisteme aktarma</li>
          <li> Küçük CSS dosyalarını HTML formatındaki belgelere çevirme</li>
          <li> Yalnızca CSS içeren stil etiketlerini, eşdeğer bağlantı etiketlerine
              dönüştürülerek sisteme aktarma</li>
          <li> Küçük boyutlardaki JS dosyalarını HTML belgesine aktarma</li>
          <li> Fazla boşlukları ve yorumları kaldırmak için CSS dosyalarını yeniden
              yapılandırma. (Bu özelliği etkinleştirerek, CSS dosyalarını tekrar
              yapılandırma veya önbellekleme sürelerini uzatma)</li>
          <li> Görüntüleri optimize etme, yeniden kodlama, fazla pikselleri kaldırma</li>
          <li> Fazla boşlukları ve yorumları kaldırmak için JavaScript dosyalarını yeniden
              yapılandırma</li>
          <li> CSS'i metin stiline uygun bir şekilde yeniden yapılandırma</li>
          <li> Önbellek korumalı içerikler oluşturma</li>
      </ul>

      <li>Trafik Sıkıştırma</li>

      <li>HTTP kimlik doğrulaması ve yetkilendirilmiş önbellekleme

      </li>

      <li>Sistem temizleme ve kapasite arttırma</li>
      <li>Dahili sunucu hatalarını önleme</li>
      <li>İstemcinin isteğinin ve sunucunun yanıtının herhangi bir bölümünü filtreleme
      </li>

  </ul>
  </div>
</div>
</div>
<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
    Yüksek Uygulama Erişebilirliği
  </button>
</h2>
<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
      <li>Düzenli aralıklarla sunucu ve uygulama sağlığı denetimleri yapabilme</li>
      <li>Sunucuları aşırı trafik yüküne karşı koruma</li>
      <li>Bir sunucuda meydana gelebilecek probleme karşı mod yönetimi (yedek sunucuya
          yeniden yönlendirme)</li>
      <li>Cihazı bekleme moduna alabilme</li>
      <li>Bekleme modunda TR7 ürünlerine oturum kalıcılığı ve bakım yönetimi imkanı
          sağlama</li>
  </ul>
  </div>
</div>
</div>






<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
    Entegrasyon ve Yönetim
  </button>
</h2>
<div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
      <li>VLAN (802.1q), çoklu VPN (IPSec ya da SSL) destekleme</li>
      <li>Ağ arayüzü köprüleme ve bağlantı sağlama</li>
      <li>Syslog, SNMP, SNMP traps, VRRP(CARP) ve NTP standartlarını destekleme</li>
      <li>Proxy veya şeffaf proxy modunda entegrasyon sağlama</li>
      <li>Sunucuların ve uygulamaların durumunun, bağlantı detaylarının ve faaliyet
          istatistiklerinin gelişmiş şekilde izlemesini ve kaydının tutulması</li>
      <li>
          Sunucuların ve uygulamaların durumunun, bağlantı detaylarının ve faaliyet
          istatistiklerinin gelişmiş şekilde izlemesini ve kaydının tutulması</li>

      <li>Web tabanlı ve CLI yönetim ara yüzü üzerinden erişim sağlama (SSH veya seri
          bağlantı noktası erişimi)</li>

      <li>Arıza tespit araçlarının yönetimi

      </li>

      <li>Çok katmanlı görüntüleme ve yapılandırma yönetimi</li>
      <li>Bulut yönetimi</li>
      <li>Bulut tabanlı yük dengeleme kullanımı</li>
      <li>TR7 üzerinde limitsiz kullanıcı oluşturma ve kullanıcı izinleri tanımlama</li>
      <li>REST / JSON web hizmeti ve SSH aracılığıyla ürün yapılandırması</li>
      <li>Özel API desteği ile çok kullanıcılı sistem mimarisini yapılandırma ve yönetme
      </li>

  </ul>
  </div>
</div>
</div>


<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
    Uygulama Güvenliği
  </button>
</h2>
<div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
      <li>Protokol doğrulaması (HTTP)</li>
      <li>Hizmet kesintisine sebep olabilecek saldırılara (DoS, DDoS, SQL injection v.b.)
          karşı koruma sağlama</li>
      <li>Kara liste ve beyaz liste yönetimi</li>
      <li>URL'leri yeniden yazma ve yeniden yönlendirme</li>
      <li>Gelişmiş URL filtreleme ve kimlik doğrulama özellikleri ile erişim kısıtlama
      </li>
      <li>Bilgi sızıntılarının engellenmesi ve hassas bilgilerin korunması</li>
      <li>HTTP / HTTPS sorgularının ve yanıtlarının filtrelemesi</li>
      <li>HTTP bilgisi yönetimi</li>
  </ul>
      </div>
</div>
</div>

<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
    Uygulama Performansı
  </button>
</h2>
<div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
      <li>Sanal sunucu kullanarak sınırsız IP bağlantı noktası oluşturma ve yönetimini
          sağlama</li>
      <li>Ayrıntılı uygulama günlüklerinin (kayıtlarının) sunucular haricinde bir ortamda
          saklanması (Sunucu yükünü azaltma)</li>
      <li>Ara belleğe alma yoluyla TCP / HTTP hızlandırma</li>
      <li>Dinamik yük dengeleme ile sunucu bağlantı yoğunluğunu ayarlama</li>
      <li>Kötü amaçlı veya gereksiz HTTP sorgularını engelleme</li>
  </ul>
  </div>
</div>
</div>

<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
    Marka Bağımsız Sunucular ile Uyumlu Hizmet
  </button>
</h2>
<div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
      <li>TR7 Yük Dengeleme ve Uygulama Güvenlik Duvarı, büyük ticari donanım platformları
          (Dell, IBM, NEC, HP, SuperMicro ve Tyan dahil) üzerinde kullanılabilir. (Böylece
          bir üretici ile ana sözleşmesi olan kurum-kuruluş ve işletmeler, barındırma
          sağlayıcıları ve veri merkezleri harici bir donanımı mevcut ortamlarına entegre
          etmek zorunda kalmadan marka bağımsız donanımlar ile çalışabilirler.)</li>
  </ul>
      </div>
</div>
</div>

<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine">
    Donanım ile Uyumlu Performans
  </button>
</h2>
<div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
      <li>TR7 Yük Dengeleme ve Uygulama Güvenlik Duvarı, donanım bazlı cihazlar üzerinde
          Ağ Güvenlik Katmanı (Layer 4) ve Uygulama Güvenlik Katmanı (Layer 7) bazında
          güvenlik sağlar. (Ürüne ait performans değerleri kullanılan donanımın teknik
          özelliklerine göre değişiklik göstermektedir.)</li>

  </ul>
      </div>
</div>
</div>

<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse10" aria-expanded="false" aria-controls="panelsStayOpen-collapse10">
    Sanal Ortam Desteği
  </button>
</h2>
<div id="panelsStayOpen-collapse10" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
      <li>TR7 Yük Dengeleme ve Uygulama Güvenlik Duvarı Sanal Cihazı, bulut bilgi işlem
          için tasarlanmış sanal ortamlara ve mimarilere sorunsuz bir şekilde entegre
          olacak şekilde tasarlanmıştır.</li>
      <li>TR7 Yük Dengeleme ve Uygulama Güvenlik Duvarı aşağıdaki sanal ortamları
          destekler;</li>
      <ul style="position: relative;
left: 15px !important;">
          <li>VMware™</li>
          <li>Microsoft Hyper-V™</li>
          <li>Citrix XenServer™</li>
          <li>Red Hat™ Enterprise Virtualization</li>
          <li>KVM (Kernel-based Virtual Machine)</li>
          <li>Xen</li>

      </ul>
  </ul>
      </div>
</div>
</div>


<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
    İstediğiniz donanım platformuna bir TADP kurmak için;
  </button>
</h2>
<div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
      <li>Total Application Security Platform ayrıca SSD (Katı Hal Diski) belleğe de
          yerleştirilmiştir. Åirketlere TADP'yi barındıracak donanım platformunu seçme
          olanağı veren çoğu ticari sunucu ile uyumludur.

      </li>

  </ul>
      </div>
</div>
</div>


</div>
</div>




</section>