
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-KK94CHFLLe+nY2dmCWGMq91rCGa5gtU4mk92HdvYe+M/SXH301p5ILy+dN9+nJOZ" crossorigin="anonymous">
<section id="newCollapsetr" class="newCollapsetr">

<style>

.all{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    }

.accordion{

    max-width: 80% !important;
    padding-left: 10%;
    margin: 50px;

}    
</style>


<div class="all">
<div class="accordion" id="accordionPanelsStayOpenExample">
<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseOne" aria-expanded="false" aria-controls="panelsStayOpen-collapseOne">
    Load Balancing

  </button>
</h2>
<div id="panelsStayOpen-collapseOne" class="accordion-collapse collapse ">
  <div class="accordion-body" style="text-align: left;">
    <ul>
        <li>Network Load Balancing (Layer 4)</li>
        <ul style="position: relative;
        left: 15px !important;">
        <li> TCP & UDP Port Transfer</li>
        <li> Direct DNS Load Balancing</li>
        <li> Service Routing</li>
        <li> Full Transparency (client IP → backend servers)</li>
        </ul>
        <li>Load Balancing (Layer 7)</li>
        <li>All IPv4 and IPv6 protocols</li>
        <li>SNI-SSL based virtual host support</li>
        <li>Native support for Web Services and Web Sockets (via Configuration Management API)</li>
        <li>Content-based, Intelligent Query Routing (content change)</li>
        <li>Session continuity and maintenance management using cookies</li>
        <li>Learning application cookies like PHPSESSID, JSESSIONID, ASP.NET SessionID and others</li>
        <li>Traffic Congestion</li>
        <li>Copy session state between all parallel TR7s.</li>
        <li>Wide selection of balancing algorithms (round-robin, leastconn, hash ...)</li>
        <li>Seamless server startup and shutdown</li>
        <li>Hash algorithms optimized for Proxy Farms</li>
        <li>Supports reverse proxy, NAT, Direct Server Converter and non-VIP modes</li>
        <li>Global Load Balancing (Load balancing concept to different data centers and even countries)</li>
        <li>Load Balancing for Microsoft products</li>
        <ul style="position: relative;
        left: 15px !important;">
        <li> Exchange, SharePoint, Lync, etc</li>
        
        </ul>
  </div>
</div>
</div>
<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseTwo" aria-expanded="false" aria-controls="panelsStayOpen-collapseTwo">
    Powerful WEB Accelerator
  </button>
</h2>
<div id="panelsStayOpen-collapseTwo" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
        <li>High speed caching system to free up your web servers and reduce page load times</li>
        <li>Object Caching</li>
        <li>All images, JavaScript, stylesheets and all possible static page content</li>
        <li>Simple programming features such as constants, conditional expressions, and subroutines</li>
        <li>Intelligently adjust expiration times, content settings, compression</li>
        <li>Content Creation</li>
        <ul style="position: relative;
        left: 15px !important;">
            <li>Add a title item to the document if it is not already there.</li>
            <li>Combine multiple CSS elements.</li>
            <li>Combine multiple script items together.</li>
            <li>Add a response header for each Meta tag with the http-equiv attribute.</li>
            <li>Convert larger JPEGs to progressive format.</li>
            <li>Extend the cache life of CSS, JS, and non-optimized images by signing the URLs with a content mix.</li>
            <li>Rewrite the references referenced in any CSS file that could not be otherwise parsed or reduced.</li>
            <li>Import CSS codes by including all import rules</li>
            <li>Export small CSS files to HTML document</li>
            <li>Import style tags that contain only CSS imports by converting them to equivalent link tags.</li>
            <li>Import small JS files into HTML document.</li>
            <li>Rewrite CSS files to remove excess spaces and comments. If enabled, rewrite images referenced in CSS files or extend cache.</li>
            <li>Optimize images, recode, remove excess pixels and overlay small images.</li>
            <li>Rewrite JavaScript files to remove excess spaces and comments.</li>
            <li>Rewrite CSS in style attributes in the text.</li>
            <li>Cache-protected content</li>
        </ul>
        
        <li>Traffic Compression</li>
        <li>HTTP Authentication and Authorization Cache</li>
        <li>Cleaning</li>
        <li>Preventing Internal Server Errors</li>
        <li>Filter any part of the client's request and the server's response.</li>
        
        </ul>
  </div>
</div>
</div>
<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseThree" aria-expanded="false" aria-controls="panelsStayOpen-collapseThree">
    High Application Accessibility
  </button>
</h2>
<div id="panelsStayOpen-collapseThree" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
        <li>Continuous server and application health audits</li>
    <li>Traffic peak smoothing to protect servers against overloads</li>
    <li>Management of problem mode if a production server crashes (redirection to standby server)</li>
    <li>Session persistence and maintenance agreement on TR7 while in standby mode</li>
        
        </ul>
  </div>
</div>
</div>






<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFive" aria-expanded="false" aria-controls="panelsStayOpen-collapseFive">
    Integration and Management
  </button>
</h2>
<div id="panelsStayOpen-collapseFive" class="accordion-collapse collapse">
  <div class="accordion-body">
    <li>Supports VLAN (802.1q), multiple VPN (IPSec or SSL)</li>
    <li>Network interface bridging and binding</li>
    <li>Supports Syslog, SNMP, traps SNMP, VRRP (& CARP) and NTP standards</li>
    <li>VRRP (& CARP) and NTP standards</li>
    <li>Integration in proxy or transparent proxy mode</li>
    <li>Advanced monitoring and logging of the status, connection details and activity statistics of servers and applications.</li>
    <li>Web or CLI management interface (SSH or serial port access)</li>
    <li>Diagnostics tools</li>
    <li>Multilayer management (viewing and configuring)</li>
    <li>Cloud Management</li>
    <li>Front-end (IP: port), back-end servers based on limited cloud load balance users</li>
    <li>Unlimited Users</li>
    <li>Configuration management and welcome API via REST / JSON web service and SSH</li>
    <li>Multiple-use architecture configuration management through the Configuration API</li>
    
                            </ul>
  </div>
</div>
</div>


<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSix" aria-expanded="false" aria-controls="panelsStayOpen-collapseSix">
    Application Security
  </button>
</h2>
<div id="panelsStayOpen-collapseSix" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
        <li>Protocol authentication (HTTP)</li>
<li>Denial of service attacks (DoS, DDoS), worms, SQL code injections, etc. protection against situations</li>
<li>Management of black / white lists</li>
<li>Rewriting and Redirecting URLs</li>
<li>Advanced URL filtering and authentication-based restriction capability</li>
<li>Preventing information leaks and protecting sensitive information</li>
<li>Filtering HTTP / HTTPS queries and responses</li>
<li>HTTP header management</li>
    
    </ul>
      </div>
</div>
</div>

<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseSeven" aria-expanded="false" aria-controls="panelsStayOpen-collapseSeven">
    Application Performance
  </button>
</h2>
<div id="panelsStayOpen-collapseSeven" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
        <li>Unlimited IP port management using virtual server</li>
<li>Creating detailed application logs in an environment outside of the servers (server resources are idle)</li>
<li>TCP / HTTP acceleration through buffering</li>
<li>Adjusting server link density with dynamic load balancing</li>
<li>Blocking malicious or unnecessary HTTP queries</li>

        </ul>
  </div>
</div>
</div>

<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseEight" aria-expanded="false" aria-controls="panelsStayOpen-collapseEight">
    Compatible with many commercial servers  </button>
</h2>
<div id="panelsStayOpen-collapseEight" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
      <li>Total Application Security Platform® on SSD can be adapted to major commercial hardware platforms (including Dell, IBM, NEC, HP, SuperMicro and Tyan), so companies, hosting providers and data centers that have master contracts with a manufacturer; it does not have to integrate heterogeneous hardware into its existing environments.
    </li>
  </ul>
      </div>
</div>
</div>

<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseNine" aria-expanded="false" aria-controls="panelsStayOpen-collapseNine">
    Same features as the hardware device version
</button>
</h2>
<div id="panelsStayOpen-collapseNine" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
        <li>The Total Application Security Platform® on the SSD provides all available layer 4 (network) and 7 (application) full capabilities for hardware devices. Processing performance depends on the hardware platform.</li>
        
        </ul>
      </div>
</div>
</div>

<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapse10" aria-expanded="false" aria-controls="panelsStayOpen-collapse10">
    Virtual Environment
</button>
</h2>
<div id="panelsStayOpen-collapse10" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
        <li>The Total Application Security Platform® Virtual Appliance is designed to be seamlessly integrated into virtual environments or architectures designed for cloud computing.</li>
        <li>The functions of the Total Application Security Platform® can be used as follows:</li>
        <ul style="position: relative;
        left: 15px !important;">
            <li>VMware™</li>
            <li>Microsoft Hyper-V™</li>
            <li>Citrix XenServer™</li>
            <li>Red Hat™ Enterprise Virtualization</li>
            <li>KVM (Kernel-based Virtual Machine)</li>
            <li>Xen</li>
            <li>Virtual images.</li>
        </ul>
        </ul>
      </div>
</div>
</div>


<div class="accordion-item">
<h2 class="accordion-header">
  <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#panelsStayOpen-collapseFour" aria-expanded="false" aria-controls="panelsStayOpen-collapseFour">
    İstediğiniz donanım platformuna bir TADP kurmak için;
  </button>
</h2>
<div id="panelsStayOpen-collapseFour" class="accordion-collapse collapse">
  <div class="accordion-body">
    <ul>
      <li>Total Application Security Platform ayrıca SSD (Katı Hal Diski) belleğe de
          yerleştirilmiştir. Åirketlere TADP'yi barındıracak donanım platformunu seçme
          olanağı veren çoğu ticari sunucu ile uyumludur.

      </li>

  </ul>
      </div>
</div>
</div>


</div>
</div>



<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js" integrity="sha384-ENjdO4Dr2bkBIFxQpeoTz1HIcje39Wm4jDKdf19U8gI4ddQ3GYNS7NTKfAdVQSZe" crossorigin="anonymous"></script>

</section>