
<section id="owl" class="owl">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.carousel.min.css" integrity="sha512-tS3S5qG0BlhnQROyJXvNjeEM4UpMXHrQfTGmbQ1gKmelCxlSEBUaxhRBj/EFTzpbP4RVSrpEikbmdJobCvhE3g==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/assets/owl.theme.default.min.css" integrity="sha512-sMXtMNL1zRzolHYKEujM2AqCLUR9F2C4/05cdbxjjLSRvMQIciEPCQZo++nk7go3BtSuK9kfa/s+a4f4i5pLkw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>

        .owl-carousel .owl-item img {
            display: block;
            width: 50%;
            margin: 50px;
            padding: 50px;
        }       
        .abc{
            margin: 150px;
        }
        
            </style>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            
            <div class="abc">

            </div>
        
            
            <div class="owl-carousel owl-theme">
                <div class="item">
                    <img src="" alt="">
                </div>
                <div class="item"><img src="" alt=""></div>
                <div class="item"><img src="" alt=""></div>
                <div class="item"><img src="" alt=""></div>
                <div class="item"><img src="" alt=""></div>
                <div class="item"><img src="" alt=""></div>
                <div class="item"><img src="" alt=""></div>
                <div class="item"><img src="" alt=""></div>
                <div class="item"><img src="" alt=""></div>
                <div class="item"><img src="" alt=""></div>
                <div class="item"><img src="" alt=""></div>
                <div class="item"><img src="" alt=""></div>
            </div>
        </div>
    </div>

</div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.4/jquery.min.js" integrity="sha512-pumBsjNRGGqkPzKHndZMaAG+bir374sORyzM3uulLV14lN5LyykqNk8eEeUlUkB3U0M4FApyaHraT65ihJhDpQ==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/OwlCarousel2/2.3.4/owl.carousel.min.js" integrity="sha512-bPs7Ae6pVvhOSiIcyUClR7/q2OAsRiovw4vAkX+zJbw3ShAeeqezq50RIIcIURq7Oa20rW2n2q+fyXBNcU9lrw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
    <script type="text/javascript">
        $('.owl-carousel').owlCarousel({
          rtl:true,
          loop:true,
          margin:5,
          nav:true,
          responsive:{
              0:{
                  items:1
              },
              600:{
                  items:3
              },
              1000:{
                  items:5
              }
          }
      })
        </script>
</section>

