<section id="tr_ctfd" class="tr_ctfd">
    <style>
          #ks{
            color:#444444 ;
            font-size: 50px;
            background-color: white ;
            font-family :"Exo 2", sans-serif;
            line-height:54px;
            vertical-align : baseline;
            letter-spacing : normal;
            word-spacing:0px;
            text-align: left;
         }

         #BGP,#sc,#mtc {
            color:#555555 ;
            background-color: white ;
            font-family :"Open Sans", sans-serif;
            font-size: 20.8px;
            line-height:31.2px;
            vertical-align : baseline;
            letter-spacing : normal;
            word-spacing:0px;
    
            font-weight:700;
            font-style:normal;
            font-variant:normal;
            text-transform:none;
            text-decoration:none solid rgb(85, 85, 85);
            text-align:left;
            text-indent:0px;
    
    
        }
        #ic, #ic1{
            color:#000000;
            background-color: white ;
            font-family : "Open Sans", sans-serif;
            font-size:16px ; 
            line-height:24px;
            vertical-align:baseline;
            letter-spacing:normal;
            word-spacing:0px;
            font-weight:400;
            font-style:normal;
            font-variant:normal;
            text-transform:none;
            text-decoration:none solid rgb(0, 0, 0);
            text-align:left;
            text-indent:0px;
    
         }

         img{
            width: 50%;
            max-width: 100%;
            vertical-align: middle;
            border-style: none;
            box-sizing: border-box;
            overflow-clip-margin: content-box;
            overflow: clip;

         }
    </style>
    <div class="content-wrapper">
        <div class="col-lg-10 col-lg-offset-1">
            <h1 id="ks" style="padding: 30px; margin: 30px;">KALİTE SERTİFİKALARIMIZ</h1>
           
            <div class="information-security" >
                <div class="security-header"id="BGP">
                    TS EN ISO/IEC 27001:2017 Bilgi Güvenliği Politikası
                </div>
                <div class="information-content" id="ic">
                    Firmamız “BİLGİSAYAR PROGRAMLAMA FAALİYETLERİ” alanında hizmet vermektedir. Firmamız gizlilik, bütünlük ve tüm fiziksel ve elektronik bilgi varlıklarını korumayı taahhüt etmektedir. Bilgi ve bilgi güvenliği gereksinimleri kurumsal hedeflerimiz ile aynı doğrultuda olacaktır. Firmamız yönetimi değişime açık, iyi eğitim almış, konusunda yetkin personel istihdamı sağlayacak ve sektör içerisinde rakiplerimizle rekabeti sağlayacak finansmanı sağlamak, yeterli donanım ve altyapıyı bulunduracaktır. Bu altyapı ve personel ile birlikte gerekli finansmanda sağlanacaktır. İş sürekliliği ve acil durum planları, veri yedekleme prosedürleri, virüslerden ve bilgisayar korsanlarından sakınma, erişim kontrol sistemleri ve bilgi güvenliği ihlal bildirimi temel faaliyetlerimizin temel taşlarını oluşturacaktır. Yapılan risk değerlendirmeleri sonucunda elde edilen açıklıklar ve tehditler bertaraf edilerek müşteri ve personelimizin bilgilerine güvenli erişim sağlanacaktır.
                    <br><br>
                    Ayrıca risk değerlendirmeleri sonucunda amaçlarımızı belirleyip bu amaçların başarılması için gerekli olan kaynaklar ve şartlar sağlanacaktır.
                    <br><br>
                    Bu politikayı gerçekleştirmek için başta çalışanlarımızın Bilgi Güvenliği Yönetim Sistemi şartlarını çalışma biçimi haline getirmelerini beklemekteyiz. Tüm personel ve belirli üçüncü tarafların Bilgi Güvenliği Yönetim Sistemi ile ilgili uygun eğitimleri alması sağlanacaktır.
                    <br><br>
                    Bilgi güvenliği ile ilgili uygulanabilir şartlar ve bu şartların getirdiği fırsatlar ve gereklilikler yerine getirilecek ve bu şartlar sürekli iyileştirilecektir. Ayrıca firmamızın, personelimizin ve tüm ilgili tarafların bu sisteme adaptasyonu sağlanacaktır.
                    <br><br>
                    Bilgi Güvenliği Politikamız yılda bir kez ya da firmamızla ilgili önemli değişikliklerin olması durumunda uygunluğunu, doğruluğunu ve etkinliğini sağlamak için yönetim ve birim sorumlularının katılımıyla gözden geçirilmekte ve güncelliği sağlanmaktadır.
                </div>
            </div>
            <hr>
            <div class="information-security">
                <div class="security-header" id="sc">
                    TS EN ISO 9001:2015 KALİTE POLİTİKASI
                </div>
                <div class="information-content" id="ic1">
                    Kaliteyi Artırarak, Giderleri Düşürmek ve Karlılığın Arttırılmasını Sağlayacak Teknolojik Gelişmeleri Yakından Takip Etmek ve Uygulamak, Personeline Vereceği Eğitimler ile İşi Hatasız Zamanında ve Her Seferinde Yeni Teknolojileri Kullanarak Çözüme Kavuşturmak,  Üstlenmiş Olduğumuz Hizmetleri Kusursuz Yapmak, Değişen ve Gelişen Müşteri İhtiyaçlarını Zamanında ve En İyi Şekilde Karşılayabilmek, Ekip Ruhu ve Ekip Çalışması Anlayışını Şirket Kültürümüzün Temel Unsurlarından Biri Olarak Görmek, Sürekli Gelişme İlkesini Prensip Alarak, Yeni Teknikler Üreterek Öncü Kuruluş Olmak
                </div>
            </div>
            <hr>
            <div class="information-security">
                <div class="security-header" id="mtc">
                    MARKA TESCİL BELGESİ
                </div>
                <div class="information-content-image">
                  <img src="/tr/tescil.jpg">
                </div>
            </div>
        </div>
    </div>
    
</section>